@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');

.landing {
     display: flex;
     flex-direction: column;
     background-color: rgba(150, 150, 150, 0.3);
     height: 100%;
     width: 100%;
 }

 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }


.first-view {
    box-sizing: border-box;
    margin: 20px;
     height: 700px;;
     width: 100%;
    background-image: url('../../images/bg.jpg');
    background-size: 100%;
    /* color: white; */
 }

.first-view > h1 {
     font-family: 'Bitter', serif;
     font-size: 4em;
     /* margin-top: 100px; */
     padding-top: 100px;
     /* color: white; */
 }

 /* .logo {
     background-image: url('../../images/snipper-logo.png');
     height: 100px;
     width: 300px;
 } */

 p {
     background-color: transparent;
     color: white;
 }

.second-view {
    color: white;
     height: 700px;
     width: 100%;
     background-color: #8bbeb2;
      box-sizing: border-box;
    margin: 20px;
    padding-top: 100px;
    font-size: 1.5em;
}

.third-view {
     height: 700px;;
     width: 100%;
     background-color: #384e77;
      box-sizing: border-box;
    margin: 20px;
    padding-top: 100px;
    font-size: 1.5em;
}

.login-btn {
    background-color:#9a8c98;
}

.signup-btn {
    background-color: #f2e9e4; 
}
