@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.landing {
     display: flex;
     flex-direction: column;
     background-color: rgba(150, 150, 150, 0.3);
 }

 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }


.first-view {
    box-sizing: border-box;
    height: 720px;
    width: 100%;
    background: center url('../../images/bg.jpg');
    background-size: contain;
    color: white;
    padding-top: 10px;
 }

.first-view > h1 {
     font-family: 'Bitter', serif;
     font-size: 4em;
     padding-top: 100px;
     color: white;
 }

 p {
     background-color: transparent;
     color: white;
 }

.second-view {
    color: white;
     height: 700px;
     width: 100%;
     background-color: #8bbeb2;
      box-sizing: border-box;
    margin-top: 10px;
    padding-top: 100px;
    /* position: absolute; */
}

.wotsit {
    position: relative;
    bottom: 112px;
}

.third-view {
     height: 700px;;
     width: 100%;
     background-color: #384e77;
      box-sizing: border-box;
    margin: 20px;
    padding-top: 100px;
    color: white;
    /* position: absolute; */
}

.login-btn {
    background-color:#9a8c98;
}

.signup-btn {
    background-color: #f2e9e4; 
}


@media screen and (max-width: 769px) {
.landing div {
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;

}
}


@media screen and (min-width: 770px) {
    .landing div {
        max-width: 100%;
    }
}