@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    background-color: #05122D;
}


p, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

input {
    font-size: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    font-size: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.errors {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 100px 20px 20px 20px;;
}


.errors p, .errors li {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}