
.nav {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: rgba(210, 210, 210, 0.3);
    top: 8px;
}

.nav i {
    color: white;
    top: 10px;
    position: absolute;
}

/* .nav button {
    background-color: transparent;
} */



.fa-palette {
    right: 5px;
}

.fa-user {
    right: 20px;
}


.session {
    align-self: flex-end;
}

.session a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.session div {
    padding: 5px 10px 5px 10px;
    position: absolute;
    bottom: 6px;
    border-radius: 5px;
}

.login-btn {
    background-color:#9a8c98;
    right: 85px;
}

.signup-btn {
    background-color: #f2e9e4;
    right: 15px;
}

 .profile-dropdown, .post-dropdown {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;; */
    /* color: rgb(100,100,100);
    text-decoration: none;
} 


ul {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    list-style-type: none;
}

li {
    padding: 5px;
}

/* .profile-head {
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
color: black;
background: gray;
} */


@media screen and (max-width: 769px) {
    .nav {
        width: 100%;
        height: 40px;
    }
}

@media screen and (min-width: 769px) {
    .nav {
        width: 99%;
        height: 40px;
        align-self: center;
    }
}