.nav {
  /* box-sizing: border-box; */
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: rgba(210, 210, 210, 0.5);
  background-color: #05122d;
  top: 8px;
  height: 45px;
  margin: 0 auto;
  width: 100%;
}

.nav i {
  color: white;
  top: 10px;
  position: absolute;
  cursor: pointer;
}

.fa-palette {
  right: 10px;
  /* color: deepskyblue; */
}

.fa-user {
  right: 40px;
  /* color: gray; */
}

.fa-cut {
  left: 10px;
  bottom: 20px;
}

.session {
  align-self: flex-end;
}

.session a,
.session button {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.session div {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 6px;
  border-radius: 5px;
}

.login-btn {
  background-color: #9a8c98;
  right: 85px;
}

.signup-btn {
  background-color: #f2e9e4;
  right: 15px;
}

.demo-btn {
  background-color: rgba(210, 210, 210, 0.5);
  right: 150px;
  /* top: 2px; */
}

@media screen and (max-width: 769px) {
  .nav {
    width: 100%;
    height: 45px;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    width: 100%;
    height: 45px;
    align-self: center;
  }
}
